/*fonts*/
@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open sans";
  font-weight: 400;
  font-style: normal;
  src: local("Gilroy"), url(../fonts/opensans.woff2) format("woff2"),
  url(../fonts/opensans.woff) format("woff");
}

@font-face {
  font-family: "Open sans";
  font-weight: 300;
  font-style: normal;
  src: local("Gilroy"), url(../fonts/opensanslight.woff2) format("woff2"),
  url(../fonts/opensanslight.woff) format("woff");
}

/* styleguide */
:root {
  --basic-black: #000000;
  --footer-background-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --background-grey-light: #E5E5E5;
  --background-yellow: #F7E296;
  --special-green: #91C92F;
  --buttons-yellow-dark: #F0C52E;
  --background-input-form: #F2F2F2;
  --background-input-form-hover: #EAEAEA;
  --checked-yellow: #F7E296;
  --filter-title-grey: #DCDCDC;
  --pagination-grey: #EBEBEB;
  --pagination-button: #D9D9D9;

  --focus-grey: rgba(0, 0, 0, 0.3);
  --placeholder-grey: rgba(0, 0, 0, 0.4);
  --hover-grey: rgba(0, 0, 0, 0.6);

  --focus-white: rgba(255, 255, 255, 0.3);
  --hover-white: rgba(255, 255, 255, 0.6);
  --social-active-white: rgba(255, 255, 255, 0.1);

  --basic-footer-menu: rgba(255, 255, 255, 0.7);
  --focus-footer-menu: rgba(255, 255, 255, 0.3);
  --hover-footer-menu: rgba(255, 255, 255, 1);


  --open-sans: "Open sans", "Verdana", sans-serif;
  --gilroy: "Gilroy", "Verdana", sans-serif;
}

/* global */
body {
  font-style: normal;
  font-family: var(--open-sans);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* main-header */
.main-header {
  background-color: var(--background-yellow);
}
.main-menu a {
  color: var(--basic-black);
  font-family: var(--open-sans);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}
.main-navigation a {
  color: var(--basic-black);
  font-family: var(--gilroy);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.main-navigation-catalog-list a {
  color: var(--basic-black);
  font-family: var(--open-sans);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: none;
  letter-spacing: normal;
}
.main-search input {
  color: var(--focus-grey);
  font-weight: 300;
  line-height: 20px;
}
.main-search input::placeholder {
  color: var(--focus-grey);
  font-weight: 300;
  line-height: 20px;
}

/* main-main */
.main-popular-slider-item .slider-header {
}
.main-popular-slider-item .slider-number {
  font-family: var(--gilroy);
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
}
.main-popular-slider-item .slider-slogan {
  font-family: var(--gilroy);
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}
.main-popular-slider-item .slider-description {
  font-family: var(--open-sans);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;

}
.main-popular-slider-item .slider-href {
  color: var(--basic-black);
  background-color: var(--buttons-yellow-dark);
  font-family: var(--gilroy);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.main-popular-slider-item .slider-properties-key {
  font-family: var(--gilroy);
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}
.main-popular-slider-item .slider-properties-value {
  font-family: var(--gilroy);
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.main-category-item img {
  background: var(--background-yellow);
}
.main-category-item figcaption {
  font-family: var(--gilroy);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}
.main-category-item a {
  color: var(--basic-black);
}

.main-service {
  background: var(--background-grey-light);
}
.service-unchecked {
  color: var(--basic-black);
  background-color: var(--buttons-yellow-dark);
  font-family: var(--gilroy);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.service-checked {
  color: var(--checked-yellow);
  background-color: var(--basic-black);
  font-family: var(--gilroy);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.main-service-slider h3 {
  font-family: var(--gilroy);
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}
.main-service-slider p {
  font-family: var(--open-sans);
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

.main-information h2,
.main-contacts h2 {
  font-family: var(--gilroy);
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}
.main-information p,
.main-contacts p {
  font-family: var(--open-sans);
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
}
.main-information a,
.main-contacts button {
  color: var(--basic-black);
  font-family: var(--gilroy);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.main-information-delivery-list a {
  text-transform: none;
  letter-spacing: normal;
  color: var(--basic-black);

  font-family: var(--gilroy);
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;

  list-style-type: circle;
}

/* main-footer */
.main-footer,
.main-footer a {
  font-family: var(--open-sans);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  background: var(--footer-background-dark);
  color: var(--basic-white);
}
.main-footer-menu a {
  color: var(--basic-footer-menu);
}
.main-footer-navigation-list a {
  font-family: var(--gilroy);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.main-social-list a {
  opacity: 30%;
}

/* popup */
.main-feedback {
  font-family: var(--gilroy);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}
.main-feedback button {
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.main-feedback input::placeholder {
  font-family: var(--open-sans);
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: var(--placeholder-grey);
}
.main-feedback input {
  font-family: var(--open-sans);
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: var(--placeholder-grey);
  background-color: var(--background-input-form);
  border: none;
}

/* dynamic */
.main-header a:hover,
.main-menu a:hover,
.main-navigation-list a:hover
{
  color: var(--hover-grey);
}
.main-header a:focus,
.main-menu a:focus,
.main-navigation-list a:focus
{
  color: var(--focus-grey);
}

.main-search input:hover {
  color: var(--hover-grey);
}
.main-search input:focus {
  color: var(--basic-black);
}
.main-search input:hover::placeholder {
  color: var(--hover-grey);
}
.main-search input:focus::placeholder {
  color: var(--basic-black);
}

.main-category-item a:focus {
  color: var(--focus-grey);
}

.main-feedback input:hover {
  background-color: var(--background-input-form-hover);
}
.main-feedback input:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.main-header img:hover {
  opacity: 60%;
}
.main-header img:active {
  opacity: 30%;
}
.main-footer-contacts img:hover {
  opacity: 60%;
}
.main-footer-contacts img:active {
  opacity: 30%;
}

.main-footer-navigation-list a:hover {
  color: var(--hover-white);
}
.main-footer-navigation-list a:focus {
  color: var(--focus-white);
}

.main-footer-menu a:focus {
  color: var(--focus-footer-menu)
}
.main-footer-menu a:hover {
  color: var(--hover-footer-menu)
}

.main-category-item img:hover {
  background-color: var(--buttons-yellow-dark);
}
.main-category-item img:active {
  background-color: var(--buttons-yellow-dark);
  opacity: 30%;
}

.service-unchecked:active {
  background-color: var(--basic-black);
  color: var(--checked-yellow);
}

.main-popular-slider-item .slider-href:focus {
  color: var(--focus-grey);
}

.main-social a:hover {
  opacity: 60%;
}
.main-social a:active {
  opacity: 10%;
}
